@using Microsoft.AspNet.Identity;
@using Isa2017Cinema.Models;
@{
    bool enableFanzoneOptions = true;
    if (User.IsInRole("Fanzone_Admin"))
    {
        using (var ctx = new ApplicationDbContext())
        {
            var resUsr = ctx.Database.SqlQuery<FanZoneAdmin>("select * from AspNetUsers where id = '" + User.Identity.GetUserId() + "'").FirstOrDefault();
            if (resUsr != null)
            {
                if (!resUsr.HasSetPassword)
                {
                    enableFanzoneOptions = false;
                }
            }
            else
            {
                enableFanzoneOptions = false;
            }
        }
    }
    bool enableLocationOptions = true;
    if (User.IsInRole("Location_Admin"))
    {
        using (var ctx = new ApplicationDbContext())
        {
            var resUsr = ctx.Database.SqlQuery<LocationAdmin>("select * from AspNetUsers where id = '" + User.Identity.GetUserId() + "'").FirstOrDefault();
            if (resUsr != null)
            {
                if (!resUsr.HasSetPassword)
                {
                    enableLocationOptions = false;
                }
            }
            else
            {
                enableLocationOptions = false;
            }
        }
    }
    ViewBag.enableLocationOptions = enableLocationOptions;
    ViewBag.enableFanzoneOptions = enableFanzoneOptions;

}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

        if (User.IsInRole("Regular_User"))
        {
            <ul class="nav navbar-nav navbar-right">

                <li>@Html.ActionLink("Friend list", "ShowFriends", "Friends", routeValues: null, htmlAttributes: new { title = "Friends" })</li>
                <li>@Html.ActionLink("Find people", "FindPeople", "Friends", routeValues: null, htmlAttributes: new { title = "Find people" })</li>

                <li>@Html.ActionLink("Friend requests", "ShowFriendRequests", "Friends", routeValues: null, htmlAttributes: new { title = "Friends" })</li>
                <li>@Html.ActionLink("My reservations", "ShowReservations", "Reservation", routeValues: null, htmlAttributes: new { title = "Reservations" })</li>
                <li>@Html.ActionLink("Fanzone", "FanZonePage", "FanZone", routeValues: null, htmlAttributes: new { title = "Fanzone" })</li>
                <li>@Html.ActionLink("My account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

            </ul>
        }
        
        else if (User.IsInRole("System_Admin"))
        {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Add new admin", "AddNewAdmin", "System_Admin", routeValues: null, htmlAttributes: new { title = "Add new admin" })</li>
             <li>@Html.ActionLink("My account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>
        }
        else if (User.IsInRole("Fanzone_Admin"))
        {
            if (enableFanzoneOptions)
            {
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("My account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

            </ul>
            }


        }
            
        }
        }
        else
        {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        }
