@model Isa2017Cinema.Models.IndexViewModel
@{
    ViewBag.Title = "Manage profile";
}

<h2 style="color:white">@ViewBag.Title.</h2>

<div>
    <h4 style="color:white">Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt style="color:white">First name: </dt>
        <dd style="color:white">@Model.FirstName  [ @Html.ActionLink("Change", "ChangeName") ]</dd>
        
        <dt style="color:white">Last name: </dt>
        <dd style="color:white">@Model.LastName   [ @Html.ActionLink("Change", "ChangeLastName") ]</dd>

        <dt style="color:white">City: </dt style="color:white">
        <dd style="color:white">@Model.City   [ @Html.ActionLink("Change", "ChangeCity") ]</dd>

        <dt style="color:white">Email: </dt>
        <dd style="color:white">@Model.Email   [ @Html.ActionLink("Change", "ChangeEmail") ]</dd>

        <dt style="color:white">Phone number: </dt>
        <dd style="color:white">@Model.PhoneNumber    [ @Html.ActionLink("Change", "ChangeNumber") ]</dd>

        <dt style="color:white">User name: </dt>
        <dd style="color:white">@Model.UserName   [ @Html.ActionLink("Change", "ChangeUserName") ]</dd>

        <dt style="color:white">Password:</dt>
        <dd style="color:white">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
       
    </dl>

    <p class="text-success">@ViewBag.StatusMessage</p>
</div>