@model WebApplication2.Models.AddNewAdminViewModel
@{
    ViewBag.Title = "Add new admin";
}

<h2 style="color:white">Add new administrator:</h2>
@using (Html.BeginForm("AddAdmin", "System_Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <form class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Admin type</label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(m => m.Admin_Type, (IEnumerable<SelectListItem>)ViewBag.items, new { @class = "form-control", @id = "optionId" })
                        @Html.ValidationMessageFor(m => m.Admin_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">First name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Last name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Email</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">User name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="controlId" style="display: none">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">My location</label>
                    <div class="col-xs-9">
                        @Html.DropDownListFor(m => m.MyLocationId, new SelectList(ViewBag.locations, "Id", "Name"), new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.MyLocationId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-xs-9"></div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>
}

<script>    
  $("#optionId").on("change", function () {
    if ($("#optionId option:selected").val() == 1) {
        $("#controlId").show();
    } else {
      $("#controlId").hide();
    }
  });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/mvcfoolproof")
}
