@model  WebApplication2.Models.ChangePointsScaleViewModels

<h2 style="color:white">Change discount points scale:</h2>
@using (Html.BeginForm("SetPointsScale", "System_Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <form class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Bronze points</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.BronzeCount, new { @class = "form-control", @Value = ViewBag.pointsArr[0] })
                        @Html.ValidationMessageFor(m => m.BronzeCount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Silver points</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.SilverCount, new { @class = "form-control", @Value = ViewBag.pointsArr[1] })
                        @Html.ValidationMessageFor(m => m.SilverCount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Gold points</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.GoldCount, new { @class = "form-control", @Value = ViewBag.pointsArr[2] })
                        @Html.ValidationMessageFor(m => m.GoldCount, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-xs-9"></div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Save</button>
                </div>
            </div>
        </div>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


