@model WebApplication2.Models.RegisterNewLocationViewModel
@{
    ViewBag.Title = "Register new location";
}

<h2 style="color:white">Register new location:</h2>
@using (Html.BeginForm("AddLocation", "System_Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    <form class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Location type</label>
                    <div class="col-xs-9">
                        @Html.EnumDropDownListFor(m => m.Location_Type, new { @class = "form-control", @id = "optionId" })
                        @Html.ValidationMessageFor(m => m.Location_Type, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Location name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Address</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Description</label>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-xs-9"></div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
