@model WebApplication2.Models.AddNewPostViewModel

<h2 style="color:white">Add new post:</h2>
@using (Html.BeginForm("AddPost", "FanZone", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    <form class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Name</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Description</label>
                    <div class="col-xs-9">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Bidding date</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.BiddingDate, new { @class = "date-picker" })
                        @Html.ValidationMessageFor(m => m.BiddingDate, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label class="control-label col-xs-3" style="color:white">Product image</label>
                    <div class="col-xs-9">
                        @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ImageUpload, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="col-xs-9"></div>
                <div class="col-xs-3">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>
}

<script type="text/javascript">
    $(function () {
        // This will make every element with the class "date-picker" into a DatePicker element
        $('.date-picker').datepicker();
    })
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


